-# app/views/posts/post_info/_path_header.html.haml
-# Locals: post
- cliq       = post.cliq
- key        = cliq_theme_key(cliq)       # "science", "gaming", etc.
- ancestors  = cliq.ancestors             # ordered root->...->parent (excludes umbrella "Cliq")

.post-path{ class: "cliq-theme--#{key}" }
  .path-color
  .path-current
    = link_to cliq.name,
      cliq_path(cliq),
      data: { turbo_frame: "_top", turbo_action: "advance" }

  %details.path-details
    %summary.path-summary
    .dropdown
      %ul
        %li
          = link_to "Home", root_path,
            data: { turbo_frame: "_top", turbo_action: "advance" }
        - ancestors.each do |parent|
          %li
            = link_to parent.name,
              cliq_path(parent),
              data: { turbo_frame: "_top", turbo_action: "advance" }
        %li.current
          = link_to cliq.name,
            cliq_path(cliq),
            data: { turbo_frame: "_top", turbo_action: "advance" }
