- frame_id = @parent_reply ? "reply_form_#{@parent_reply.id}" : "new_reply"

= simple_form_for(@reply) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.label :content, class: "form-label"
    = f.rich_text_area :content, class: "form-control", rows: 3
    = f.hidden_field :post_id, value: @post.id
    - if @parent_reply
      = f.hidden_field :parent_reply_id, value: @parent_reply.id

  .form-actions.mt-2.d-flex.gap-2
    = f.button :submit, "Submit Reply", class: 'btn btn-primary btn-sm'
    = link_to "Cancel",
              new_post_reply_path(@post, parent_reply_id: @parent_reply&.id, frame_id: frame_id, cancel: true),
              class: 'btn btn-link btn-sm text-muted',
              data: { turbo_frame: frame_id }
