= turbo_frame_tag "main_content" do
  = render "cliqs/breadcrumb_bar", cliq: @cliq
  .cliq-layout{ data: { controller: "sidebar-layout" } }
    %button.cliq-layout__toggle.cliq-layout__toggle--left.btn.btn-light.btn-sm{ type: "button", data: { action: "sidebar-layout#toggleLeft", sidebar_layout_target: "leftToggle" }, aria: { label: "Toggle left sidebar" } }
      %i.bi
    %button.cliq-layout__toggle.cliq-layout__toggle--right.btn.btn-light.btn-sm{ type: "button", data: { action: "sidebar-layout#toggleRight", sidebar_layout_target: "rightToggle" }, aria: { label: "Toggle right sidebar" } }

    .cliq-layout__overlay{ data: { sidebar_layout_target: "overlay", action: "click->sidebar-layout#closeOverlays" } }

    .cliq-layout__side.cliq-layout__side--left{ data: { sidebar_layout_target: "leftSide" } }
      .cliq-layout__sidebar
        = render "cliqs/sidebar", cliq: @cliq

    .cliq-layout__content{ data: { sidebar_layout_target: "content" } }
      .cliq-layout__content-inner
        .cliq-layout__content-top.d-xl-none
          = render "cliqs/sidebar_cliq_info", cliq: @cliq

        .space-y-4
          - if @posts.any?
            = render "posts"
          - else
            .rounded-xl.border.border-slate-200.bg-white.p-8.text-center.text-slate-500
              No posts yet. Be the first to share something!
          = render "pager", pagy: @pagy, cliq: @cliq

    .cliq-layout__side.cliq-layout__side--right.d-none.d-xl-block{ data: { sidebar_layout_target: "rightSide" } }
      .cliq-layout__sidebar
        = render "cliqs/sidebar_cliq_info", cliq: @cliq

    %button.cliq-layout__mobile-toggle.btn.btn-primary.btn-sm.d-none{ type: "button", data: { action: "sidebar-layout#toggleMobile", sidebar_layout_target: "mobileToggle" }, aria: { label: "Toggle side panels" } }
      %i.bi.bi-layout-sidebar-inset
      %span.ms-2 Panels
